server:
  port: 8633

spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: eurekaServer33
    instance-id: ${eureka.instance.hostname}:${server.port}
    #prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eurekaServer34:8634/eureka/
#      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: false